<!-- Header -->
<nav
  class="fixed top-0 left-0 w-full flex justify-between items-center px-8 py-4 bg-gradient-to-r from-purple-900 via-indigo-900 to-purple-700 text-white z-50"
>
  <div
    class="flex items-center space-x-2 text-2xl font-bold"
    [routerLink]="['/']"
    style="cursor: pointer"
  >
    <div
      class="bg-gradient-to-r from-pink-500 to-purple-500 rounded-full w-10 h-10 flex items-center justify-center text-white"
    >
      Cr
    </div>
    Bozm
  </div>
  <div class="flex space-x-6 text-sm font-semibold text-xl">ROC Library</div>
</nav>
